/*
*! (Crystal Collector Title)
*/

.title-div {
    text-align: center;
    border: 3px solid white;

}
.game-title {
    color: whitesmoke;
    font-family: 'Caveat Brush', cursive;
}
/*
*! (Body)
*/

body {
    background-image: url("../images/background.png");
}
/*
*! (Instruction Message's)
*/

.instruction-div {
    text-align: center;
    border: 3px solid white;
    margin-top: 5px;
}

.i1 {
    color: whitesmoke;
    font-family: 'Caveat Brush', cursive;
}

/*
*! (Score / Win / Loss)
*/

.detail-interface {
    text-align: center;
    border: 3px solid white;
    margin-top: 5px;
    color: whitesmoke;
    font-family: 'Caveat Brush', cursive;
    font-size: 20px;
}

.obj-Number {
    display: inline-block;
}
 
/*
*! (Crystal Selector)
*/

.crystal-selector {
    text-align: center;
    border: 3px solid white;
    margin-top: 5px;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Caveat Brush', cursive;
}
.diamond {
    width: 100px;
    height: 100px;
}
.ruby {
    width: 100px;
    height: 100px;
}
.sapphire {
    width: 100px;
    height: 100px;
}
.emerald {
    width: 100px;
    height: 100px;
}