/*
*! (Crystal Collector Title)
*/

.title-div {
    text-align: center;
    border: 3px solid white;

}
.game-title {
    color: whitesmoke;
    font-family: 'Caveat Brush', cursive;
}
/*
*! (Body)
*/

body {
    background-image: url("../images/background.png");
}
/*
*! (Instruction Message's)
*/

.instruction-div {
    text-align: center;
    border: 3px solid white;
    margin-top: 5px;
}

.i1 {
    color: whitesmoke;
    font-family: 'Caveat Brush', cursive;
}